{% extends 'base.html' %}

{% load static %}
{% block context %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 align-self-center text-center text-color-theme">
                    <h1><b>Bienvenue :</b> {{ user.get_username }} </h1>
                    <h1> <b>Adresse email :</b> {{ user.email }}</h1>
            </div>
                </div>
            <div class="row" style="margin-top: 2rem;margin-bottom: 2rem;">
                    <div class="col-lg-12 align-self-center text-center text-color-theme">
                        <h1> Changer votre mot de passe ?</h1>
                        <form method="post">
                          {% csrf_token %}
                          {{ form }}

                          <button type="submit">Sauver les changements</button>
                        </form>
                        {% if messages %}
                            <ul class="messages">

                                {% for message in messages %}
                                <div{% if message %} class="alert alert-{% if message.tags == 'error' %}{{ 'warning' }}{% elif message.tags == 'success' %}{{ 'success' }}{% endif %}"  role="alert" {% endif %}>{{ message }}</div>
                                {% endfor %}
                            </ul>
                            {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

